@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
    color: #021206;


}

html {
    scroll-behavior: smooth;
}

button {
    border: none;
}

p {
    opacity: 0.7;
}

a, a:hover {
    text-decoration: none;
}

.container {
    max-width: 1185px;
    margin: 0 auto;
    padding: 0 15px;
}

.title {
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}

.desc {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 16px;
}

.align-center {
    align-items: center;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.col-4 {
    width: 33.3333%;
    padding: 0 15px;
}

.col-5 {
    width: 41.6666%;
    padding: 0 15px;
}

.col-7 {
    width: 58.3333%;
    padding: 0 15px;
}

.col-3 {
    width: 25%;
    padding: 0 15px;
}
.col-6{
    width: 50%;
    padding: 0 15px;
}
.header {
    padding-top: 35px;
}

.header .row {
    align-items: center;
}

.menu-link {
    font-size: 18px;
    font-weight: 400;
    color: rgba(2, 18, 6, 0.5);
    margin: 0 22px;

}


.enter {
    text-align: right;
}

.login {
    font-size: 18px;
    font-weight: 500;
    color: #021206;
    opacity: 0.7;
}

.sign {
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    padding: 15px 30px;
    background: #F44545;
    border-radius: 6px;
    margin-left: 23px;

}

.sign:hover {
    background: #b01212;
}

.hero-title {
    font-weight: 600;
    font-size: 53px;
    position: relative;
}

.hero-step {
    color: #3EFFC0;
}

.hero-step:after {
    content: url("../image/dotts.png");
    position: absolute;
    right: 48px;
    bottom: -1px;
}

.hero-desc {
    font-weight: 400;
    font-size: 20px;
    margin-bottom: 40px;
}

.hero-desc span {
    font-weight: 500;
}

.feedback-form {
    position: relative;
    margin-bottom: 40px;
}

.feedback-input {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: 65px;
    border-radius: 6px;
    font-size: 18px;
    padding: 19px 135px 19px 24px;
    /*border: 1px solid rgba(0, 0, 0, 0.3);*/
    box-shadow: -5px 5px 20px rgb(0 0 0 / 25%);
    border: none;
}

.feedback-input:hover {
    /*border: 1px solid #000000;*/
    border: none;
}

.feedback-btn {
    padding: 11px 33px;
    background: #F44545;
    font-size: 21px;
    font-weight: 500;
    color: #fff;
    border-radius: 6px;
    position: absolute;
    top: 7px;
    bottom: 7px;
    margin: auto;
    right: 6px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
}

.feedback-btn:hover {
    background: #b01212;
}

.apps-google {
    margin-right: 30px;
}

.media {
    background: #F4FCFA;
    padding: 53px 0;
}

.media-container {
    display: flex;
    justify-content: space-between;
}

.solution {
    padding: 110px 0;
}

.solution-configuration {
    display: flex;
    margin-bottom: 30px;
}

.solution-configuration-next {
    display: flex;
}

.solution-image {
    width: 75px;
    height: 75px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}

.settings-logo {
    background: linear-gradient(141.58deg, #FF9A9A 3.63%, #F14C4C 91.45%);
    box-shadow: 1px 5px 30px rgba(215, 21, 21, 0.5);
}

.user-logo {
    background: linear-gradient(154.24deg, #85FED6 4.45%, #4EDAAC 83.73%);
    box-shadow: 1px 5px 30px rgba(83, 215, 171, 0.5);
}

.secured-logo {
    background: linear-gradient(163.65deg, #FCD876 4.69%, #FABC13 88.66%);
    box-shadow: 1px 5px 30px rgba(238, 185, 42, 0.6);
}

.code-logo {
    background: linear-gradient(143.75deg, #FE9AF4 0%, #EC4EDC 88.72%);
    box-shadow: 1px 5px 30px rgba(230, 68, 214, 0.5);
}

.solution-item {
    padding: 35px 18px;
    border: 1px solid rgba(2, 18, 6, 0.1);
    border-radius: 10px;

}

.solution-item:nth-child(odd) {
    margin-right: 30px;
}

.solution-title {
    font-weight: 600;
    font-size: 21px;
    margin-bottom: 9px;
}

.solution-subtitle {
    font-size: 14px;
}

.solution-item:hover {
    box-shadow: 0 15px 65px rgba(65, 77, 68, 0.15);
    border: none;
}

.bold {
    font-weight: bold;
}

.m-top {
    margin-top: 100px;
}

.solution-btn {
    font-family: 'Poppins', sans-serif;
    padding: 15px 40px;
    background: #282323;
    color: #fff;
    border-radius: 6px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 29px;
    margin-right: 25px;
    cursor: pointer;
}

.solution-btn:hover {
    background: #073f12;
}

.solution-link {
    font-weight: 500;
    font-size: 18px;
    color: red;
}

.discover-block {
    list-style: none;
    font-size: 18px;
    font-weight: 400;

}

.discover-item {
    margin-left: 30px;
    margin-bottom: 16px;
    color: #021206;
    opacity: 0.7;
    position: relative;
}

.discover-item:before {
    content: url("../image/check.svg");
    margin-right: 11px;
    position: absolute;
    top: 4px;
    left: -28px;
}

.discover-m-top {
    margin-top: 45px;
}
/*.discover-img{*/
/*    max-width: 100%;*/
/*}*/
.serving-img {
    direction: rtl;

}

/*.serving-img img{*/
/*    max-width: 100%;*/
/*}*/

.software {
    background: #F4FCFA;
    padding: 91px 0;
}

.software-image {
    position: relative;
}

.software-img {
    position: absolute;
    top: -200px;
    left: -23%;
}

.software-btn {
    padding: 15px 33px;
    background: #F44545;
    color: #fff;
    border-radius: 6px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
}

.software-btn:hover {
    background: #b01212;
}

.pricing {
    padding: 110px 0 120px;
}

.pricing h2 {
    text-align: center;
}

.pricing-mb {
    margin-bottom: 30px;
    text-align: center;
}

.switch {
    display: flex;
    justify-content: center;
    margin-bottom: 35px;
}

.before-switcher {
    margin-right: 16px;
    font-size: 20px;
    font-weight: 500;
}

.after-switcher {
    margin-left: 16px;
    font-size: 20px;
    font-weight: 500;
}

.switch-save {
    font-weight: 600;
    font-size: 18px;
    position: relative;
    margin-bottom: 50px;
    text-align: center;
}

.switch-save:after {
    content: url("../image/arrow.svg");
    position: absolute;
    top: -12px;
    right: 39.5%;


}

/*=========switch========*/
.toggle {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
    background: linear-gradient(154.24deg, #85FED6 4.45%, #4EDAAC 83.73%);
    border-radius: 6px;
}

/* After slide changes */
.toggle:after {
    content: '';
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 3px;
    background-color: #f0f0f0;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 5px;

    transition: all 0.5s;
}


/* Checkbox checked effect */
.checkbox:checked + .toggle::after {
    right: 37px;
}

/* Checkbox checked toggle label bg color */
.checkbox:checked + .toggle {
    background: linear-gradient(154.24deg, #85FED6 4.45%, #4EDAAC 83.73%);
}

/* Checkbox vanished */
.checkbox {
    display: none;
}

/*=========switch========*/

/*============range==========*/

.range-container {
    position: relative;
    margin-bottom: 93px;

}

input[type=range] {
    width: 100%;
    margin: 30px 0;
    -webkit-appearance: none;
}

input[type=range] + label {
    background-color: #000;
    color: #fff;
    border-radius: 4px;
    /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);*/
    padding: 5px 0;
    position: absolute;
    top: -25px;
    left: calc(50% - 40px);
    text-align: center;
    width: 80px;

}

input[type=range]:active {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    animate: 0.2s;
    background: linear-gradient(154.24deg, #85FED6 4.45%, #4EDAAC 83.73%);
    box-shadow: 1px 5px 30px rgba(83, 215, 171, 0.5);
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
    height: 7.5px;
}

input[type=range]::-webkit-slider-thumb {
    background: linear-gradient(154.24deg, #85FED6 4.45%, #4EDAAC 83.73%);
    box-shadow: 1px 5px 30px rgba(83, 215, 171, 0.5);
    border-radius: 50%;
    border: 3px solid #fff;
    cursor: pointer;
    height: 22px;
    width: 22px;
    margin-top: -7px;
    -webkit-appearance: none;
}


/*============range==========*/

/*.pricing .row {*/
/*    position: relative;*/
/*    z-index: 1;*/
/*}*/

/*.left-round {*/
/*    position: absolute;*/
/*    z-index: 5;*/
/*    bottom: -200px;*/

/*}*/

/*.right-round {*/
/*    position: absolute;*/
/*    top: -170px;*/

/*    z-index: 2;*/
/*}*/

.pricing-item {
    padding: 35px 29px 35px 50px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    /*background: white;*/

}


.pricing-info {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    padding: 22px 0;


}

.last {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.plan-title {
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    opacity: 0.5;
    margin-bottom: 35px;
    text-align: center;
}

.plan-count {
    font-size: 43px;
    font-weight: 600;
    margin-bottom: 37px;
}

.pricing-info-title {
    font-weight: 500;
    font-size: 16px;
    position: relative;
    display: block;
    margin-right: 50px;

}

.pricing-info-title:before {
    content: url("../image/check.svg");
    position: absolute;
    top: 0;
    bottom: 0;
    left: -25px;
    margin: auto;
}

.yes {
    font-size: 16px;
    font-weight: 500;
}

.across {
    font-size: 16px;
    font-weight: 400;
    color: rgba(2, 18, 6, 0.7);
    text-decoration: line-through;
    position: relative;
}

.across:before {
    content: url("../image/check.svg");
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    left: -25px;


}

.no {
    font-size: 16px;
    font-weight: 400;
    opacity: 0.7;
}

.pricing-btn {
    padding: 13px 76px;
    color: #F44545;
    border-radius: 6px;
    background: #ffffff;
    border: 2px solid rgba(244, 69, 69, 0.2);
    font-size: 20px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    margin-top: 40px;
    transition: 0.7s;
    cursor: pointer;
}

.pricing-item:hover {
    box-shadow: 0 20px 100px rgba(2, 18, 6, 0.15);
    border: none;

}

.pricing-item:hover .pricing-btn {
    background: #F44545;
    color: #fff;

}

.footer {
    background: #F2FBF9;
    padding: 52px 0 57px;
}

.footer-logo {
    margin-bottom: 20px;
}

.footer-subtitle {
    font-size: 16px;
    color: #021206;
    opacity: 0.7;

}
.p-right{
    padding-right: 20px;
}
.footer-title {
    font-size: 21px;
    font-weight: 500;
    margin-bottom: 25px;
}

.footer-link {
    font-size: 16px;
    color: #021206;
    opacity: 0.7;
    display: block;
    margin-bottom: 10px;
}

.tel {
    font-size: 16px;
    color: #021206;
    opacity: 0.7;
    display: block;
    margin-bottom: 10px;
}

.slick-prev:before{
   color: grey;
    opacity: 1;
}

.slick-next:before {
    color: grey;
    opacity: 1;
}